@()

<div class="container">
    <blockquote>
        Connectify is a software company focused on developing networking software for consumers.
        Connectify Hotspot, is a software router for Microsoft Windows, and Connectify Dispatch is a network load
        balancing solution and Speedify is a Link aggregation service.
    </blockquote>
</div>
        <br><br>
<div class="container">
    <form method="get" name="signup" action="/signup">
         <button type="submit" class="btn btn-primary btn-block active">SIGN-UP</button>
    </form>
</div>
<div class="container">
    <button class="btn btn-info btn-block active">OR</button>
</div>
<div class="container">
    <form method="get" name="login" action="/login">
        <button type="submit" class="btn btn-success btn-block active">LOGIN</button>
    </form>
</div>